div {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 30px;
}
#pascal {
    text-align: center;
    justify-content: center;
}
.sor {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    letter-spacing: 20px;
    line-height: 20px;
}
.doboz {
    text-align: center;
    width: 30px;
    height: 30px;
}